# Copyrighted source PDFs (© Syddansk Universitetsforlag / forfatteren).
# Kept locally for extraction; only derived fact-lists are committed.
# See normalisering/docs/07-historical-data.md.
ortography-history/*.pdf
retningslinjer/*.pdf
ordbøger/*.pdf

# Office lock files
~$*

# macOS metadata
.DS_Store
